.example-table-container {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

.example-table {
  width: 100%;
}

.actions-cell {
  width: 250px;
  padding: 8px;
}

.action-button {
  margin-right: 8px;
  font-weight: 500;
  font-size: 12px;
  height: 32px;
  min-width: 100px;
}

.view-button {
  background-color: #f44336 !important;
  color: white !important;
}

.new-button {
  background-color: #3f51b5 !important;
  color: white !important;
}

.mat-mdc-header-cell {
  font-weight: 600;
  color: #424242;
}

.mat-mdc-cell {
  padding: 12px 8px;
}

.example-container {
  background: white;
  border-radius: 4px;
}

.dashboard-card-content {
  padding: 20px;
}
.link-button {
  text-transform: none;   /* evita mayúsculas forzadas */
  font-weight: normal;    /* texto normal */
  background: none !important;  /* quita fondo */
  box-shadow: none !important;  /* quita sombra */
  padding: 0 8px;         /* ajusta espacio lateral */
  min-width: auto;        /* quita ancho mínimo de Material */
}
@media (max-width: 768px) {
  .actions-cell {
    width: auto;
  }
  
  .action-button {
    margin-bottom: 4px;
    display: block;
    width: 100%;
  }

}