<mat-card style="margin: 20px 40px 40px 40px;">
  <mat-card-content class="dashboard-card-content"> 
    <mat-form-field MatFormFieldControl  style="width: 300px; margin-bottom: 20px;" >
      <mat-label>Buscar</mat-label>
      <input matInput (keyup) ="aplicarFiltroTabla($event)" #input>
  </mat-form-field>      
<div class="example-container mat-elevation-z8">

  
    <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table"
             matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

  
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Last Order Date</th>
          <td mat-cell *matCellDef="let row">{{row.lastOrderDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row" >
            <button  mat-button color="warn" class="action-button link-button" 
                    (click)="verOrdenes(row.customerID)">
              VIEW ORDERS
            </button>
            <button  mat-button color="primary" class="action-button link-button"
                    (click)="crearOrden(row.customerID)">
              NEW ORDER
            </button>
          </td>
        </ng-container>
  
        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Next Predicted Order</th>
          <td mat-cell *matCellDef="let row">{{row.nextPredictedOrder | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>
  
        <!-- Created Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Customer Name
          </th>
          <td mat-cell *matCellDef="let row">{{row.customerName}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-paginator  #paginator
    [length]="resultsLength" 
     [pageSizeOptions]="[10, 25, 50, 100]" 
     [pageSize]="30"  
     aria-label="Select page of customer results"></mat-paginator>
  </div>
</mat-card-content>
</mat-card>
  